# Testing
# ------------------------------------------------------------------------------
pytest==8.0.2

# Code quality
# ------------------------------------------------------------------------------
ruff==0.3.5  # https://github.com/astral-sh/ruff
coverage==7.4.3  # https://github.com/nedbat/coveragepy
djlint==1.34.1  # https://github.com/Riverside-Healthcare/djLint
pre-commit==3.6.2  # https://github.com/pre-commit/pre-commit
