# Testing
# ------------------------------------------------------------------------------
pytest==8.1.1  # https://github.com/pytest-dev/pytest
pytest-mock==3.14.0  # https://github.com/pytest-dev/pytest-mock

# Code quality
# ------------------------------------------------------------------------------
ruff==0.3.7  # https://github.com/astral-sh/ruff
coverage==7.4.4  # https://github.com/nedbat/coveragepy
pre-commit==3.7.0  # https://github.com/pre-commit/pre-commit
